<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Crude Oil Price Prediction</title>
</head>
<style>
    body {
    background-image: url('static/css/bg.jpg');
    }
</style>
<body>
    <div class="header">
        <a href="#" class="logo">Crude Oil Price Prediction</a>
        <div class="header-right">
          <a class="active" href="/about">Home</a>
          <a href="/predict">Predict</a>
        </div>
      </div>    
      <p class="para">Oil demand is inelastic, therefore the rise in price is good news for producers because they will see an increase in their revenue. Oil importers, however, will experience increased costs of purchasing oil. Because oil is the largest traded commodity, the effects are quite significant. A rising oil price can even shift economic/political power from oil importers to oil exporters. The crude oil price movements are subject to diverse influencing factors. This Guided Project mainly focuses on applying Neural Networks to predict the Crude Oil Price.This decision helps us to buy crude oil at the proper time. Time series analysis is the best option for this kind of prediction because we are using the Previous history of crude oil prices to predict future crude oil. So we would be implementing RNN(Recurrent Neural Network) with LSTM(Long Short Term Memory) to achieve the task.</p>\
    <p class="para1">Developed by Shriram S, Suryaprakash S, Tallapaneni Thanmai Chowdary, Yarramasu Ramya Sree</p>
      <img class="arch" src="static/css/architecture.png">
</body>
</html>